html {
    font-size: 62.5%;
}

.main-contact {
    display: flex;
    flex-direction: column;
    max-width: 120rem;
    margin: auto;
}

.main-contact > div:nth-child(1) {
    display: flex;
    padding: 5rem;
    background: #f5f5f5;
}

.main-contact > div:nth-child(1) > div:nth-child(1) {
    flex: 50%;
}
.main-contact > div:nth-child(1) > div:nth-child(2) {
    flex: 50%;
    margin-left: 3rem;
}

.main-contact > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
    margin: 2rem 0;
}

.main-contact span {
    color: black;
    font-weight: bolder;
    margin-right: 1rem;
    min-width: 8rem;
    display: inline-block;
}

.main-contact button {
    min-width: 20rem;
    padding: 0.9rem 0;
    align-self: flex-start;
    margin: 2rem 0;
}

.main-contact .contact {
    text-align: left;
}

.main-contact .contact > div:nth-child(1) {
    max-width: 100%;
    margin-bottom: 0rem;
}

.main-contact input,
textarea {
    background: white;
}

.main-contact input {
    min-width: 22rem;
}

.main-contact #title,
#comment {
    min-width: 47rem;
}

/* contact section */

/*



*/

.main-contact iframe {
    width: 120rem;
    max-width: 100%;
    margin: auto;
    display: block;
    min-height: 40rem;
}
