/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */

/* header section stars here */

.sticky-bar {
    flex-direction: column;
}

.logo {
    flex: 100%;
    margin-bottom: 1rem;
}

.header-nav {
    flex: 100%;
}

/* header section ends here */

/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */

/*  */
/*  */
/*  */
/*  */
/*  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*  */
/*  */
/*  */
/*  */
/*  */

/* ========================================================================.contact.css======================================================================== */
/* ========================================================================.contact.css======================================================================== */
/* ========================================================================.contact.css======================================================================== */
/* ========================================================================.contact.css======================================================================== */
/* ========================================================================.contact.css======================================================================== */
/* ========================================================================.contact.css======================================================================== */
.main-contact > div:nth-child(1) {
    flex-direction: column;
}

.main-contact > div:nth-child(1) > div:nth-child(1) {
    flex: 100%;
}
.main-contact > div:nth-child(1) > div:nth-child(2) {
    flex: 100%;
    margin-left: 0rem;
    margin-top: 5rem;
}

.main-contact input {
    min-width: 33rem;
}

.main-contact #title,
#comment {
    min-width: 69rem;
}

/* ========================================================================.contact.css======================================================================== */
/* ========================================================================.contact.css======================================================================== */
/* ========================================================================.contact.css======================================================================== */
/* ========================================================================.contact.css======================================================================== */
/* ========================================================================.contact.css======================================================================== */
/* ========================================================================.contact.css======================================================================== */
