/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */

/* reset and common section ends here */

html {
    font-size: 55.5%;
}

/* reset and common section ends here */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* header section stars here */

#menu-bar {
    display: block;
}

.hidden {
    display: none;
}

.header-nav nav ul {
    flex-direction: column;
}

.header-nav nav ul li {
    margin: 0.5rem 0;
    text-align: center;
    background: #787878;
    padding: 0.5rem 0.7rem;
    border-radius: 0.6rem;
}

.hero-section {
    max-width: 80%;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* main section starts here */

/* aobut us section */
.about-us {
    max-width: 65%;
    margin: 10rem auto;
}

/* success section */
.card-container {
    flex-direction: column;
}

/* gallary section */
.gallary-section {
    align-items: center;
}

/* brand section */
.brand div {
    margin: 0 1rem;
}

/* contact section */
input {
    min-width: 30rem;
}

#title,
#comment {
    min-width: 63rem;
}

/* main section ends here */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* footer section starts here */
footer > section:nth-child(3) > div:nth-child(1) > div:nth-child(2) {
    flex: 30%;
}
/* footer section ends here */

/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */

/*  */
/*  */
/*  */
/*  */
/*  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*  */
/*  */
/*  */
/*  */
/*  */

/* ========================================================================about.css======================================================================== */
/* ========================================================================about.css======================================================================== */
/* ========================================================================about.css======================================================================== */
/* ========================================================================about.css======================================================================== */
/* ========================================================================about.css======================================================================== */
/* ========================================================================about.css======================================================================== */

/* about me section */

.main-about .about-me {
    flex-direction: column;
}

/* ========================================================================about.css======================================================================== */
/* ========================================================================about.css======================================================================== */
/* ========================================================================about.css======================================================================== */
/* ========================================================================about.css======================================================================== */
/* ========================================================================about.css======================================================================== */
/* ========================================================================about.css======================================================================== */

/*  */
/*  */
/*  */
/*  */
/*  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*  */
/*  */
/*  */
/*  */
/*  */

/* ========================================================================.contact.css======================================================================== */
/* ========================================================================.contact.css======================================================================== */
/* ========================================================================.contact.css======================================================================== */
/* ========================================================================.contact.css======================================================================== */
/* ========================================================================.contact.css======================================================================== */
/* ========================================================================.contact.css======================================================================== */

.main-contact input {
    min-width: 28.5rem;
}

.main-contact #title,
#comment {
    min-width: 60rem;
}

/* ========================================================================.contact.css======================================================================== */
/* ========================================================================.contact.css======================================================================== */
/* ========================================================================.contact.css======================================================================== */
/* ========================================================================.contact.css======================================================================== */
/* ========================================================================.contact.css======================================================================== */
/* ========================================================================.contact.css======================================================================== */

/*  */
/*  */
/*  */
/*  */
/*  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*  */
/*  */
/*  */
/*  */
/*  */

/* ========================================================================project.css======================================================================== */
/* ========================================================================project.css======================================================================== */
/* ========================================================================project.css======================================================================== */
/* ========================================================================project.css======================================================================== */
/* ========================================================================project.css======================================================================== */
/* ========================================================================project.css======================================================================== */

.main-pro-top {
    flex-direction: column;
}

.main-pro-top > div:nth-child(1) {
    flex: 100%;
}
.main-pro-top > div:nth-child(2) {
    flex: 100%;
}

/* ========================================================================project.css======================================================================== */
/* ========================================================================project.css======================================================================== */
/* ========================================================================project.css======================================================================== */
/* ========================================================================project.css======================================================================== */
/* ========================================================================project.css======================================================================== */
/* ========================================================================project.css======================================================================== */
