/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */

/* main section starts here */

/* gallary section */
.gallary-section {
    display: flex;
    flex-direction: column;
    padding: 0;
    background: #f5f5f5;
}

.gal-body {
    display: flex;
    flex-direction: column;
}

.gal-body > div {
    display: flex;
    justify-content: space-around;
}

/* main section ends here */

/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */
