/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */

/* reset and common section ends here */

html {
    font-size: 45.5%;
}

/* reset and common section ends here */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* header section stars here */

.hero-section {
    max-width: 100%;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* main section starts here */

/* aobut us section */
.about-us {
    max-width: 90%;
}

/* professional skills section */
.professional-skills {
    flex-direction: column;
}

.professional-skills div:nth-child(1) {
    flex: 100%;
    min-width: 100%;
}

.professional-skills div:nth-child(2) {
    flex: 100%;
}

.skill-container {
    padding-right: 0;
}

/* success section */
.success-section {
    flex-direction: column;
}

/* gallary section */
.gal-body > div {
    flex-direction: column;
}

/* work process */
.work-process div:nth-child(1) {
    max-width: 100%;
}

/* course section */
.course-sec-container {
    flex-direction: column;
}

.course-sec-container .card {
    max-width: 100%;
    min-height: 25rem;
}

/* review section */
.review p {
    max-width: 100%;
}

/* brand section */
.brand {
    flex-direction: column;
}
.brand div {
    margin: 5rem 0;
}

/* contact section */
.contact > div:nth-child(1) {
    max-width: 100%;
}

form > div:nth-child(1) {
    flex-direction: column;
}

form > div:nth-child(1) > div:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1.5rem;
}

input {
    min-width: 45rem;
}

#title,
#comment {
    min-width: 45rem;
}

/* main section ends here */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* footer section starts here */

footer {
    flex-direction: column;
}

footer > section {
    flex: 100%;
}

footer > section:nth-child(1) h2 {
    max-width: 100%;
}

footer > section:nth-child(1) p {
    max-width: 100%;
    margin-top: 1rem;
}

footer > section:nth-child(2) {
    margin: 5rem 0;
}
/* footer section ends here */

/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */
/* ========================================================================style.css======================================================================== */

/*  */
/*  */
/*  */
/*  */
/*  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*  */
/*  */
/*  */
/*  */
/*  */

/* ========================================================================.contact.css======================================================================== */
/* ========================================================================.contact.css======================================================================== */
/* ========================================================================.contact.css======================================================================== */
/* ========================================================================.contact.css======================================================================== */
/* ========================================================================.contact.css======================================================================== */
/* ========================================================================.contact.css======================================================================== */

.main-contact input {
    min-width: 45.5rem;
}

.main-contact #title,
#comment {
    min-width: 45.5rem;
}

/* ========================================================================.contact.css======================================================================== */
/* ========================================================================.contact.css======================================================================== */
/* ========================================================================.contact.css======================================================================== */
/* ========================================================================.contact.css======================================================================== */
/* ========================================================================.contact.css======================================================================== */
/* ========================================================================.contact.css======================================================================== */
